{% extends 'base_setting.html.twig' %}

{% block title %}Nouveau type de compte{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header bg-dark text-white font-weight-bolder text-uppercase">Créer un nouveau type de compte</h5>
        <div class="card-body font-weight-bolder text-uppercase">
            {{ include('type_compte/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a class="btn btn-primary text-uppercase font-weight-bolder" href="{{ path('type_compte_index') }}">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
