{% extends 'base_setting.html.twig' %}

{% block title %}Nouveau type de document de propriété{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header bg-dark text-white font-weight-bolder text-uppercase">Nouveau type de document de proprieté</h5>

        <div class="card-body font-weight-bold text-uppercase">
            {{ include('type_document_propriete/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a class="btn btn-primary mt-3 font-weight-bolder text-uppercase" href="{{ path('type_document_propriete_index') }}">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
