<form method="post" action="{{ path('koh_utilisateur_delete', {'id': koh_utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ koh_utilisateur.id) }}">
    <button class="btn">Delete</button>
</form>
