{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h2 class="font-weight-bolder text-uppercase mt-5">{{ error }}</h2>
{% endblock %}

{% block footer '' %}
