{% extends 'base.html.twig' %}

{% block title '404 not found' %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron mb-5">
            <h5 class="font-weight-bolder text-uppercase text-center text-danger">404 page non trouvé</h5>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}