{% extends 'base.html.twig' %}

{% block title '500 erreur donnés' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h5 class="font-weight-bolder text-uppercase text-danger">erreur donnée</h5>
        </div>
    </div>
{% endblock %}