{% extends "base_structure.html.twig" %}

{% block title 'Mbeyan: Accueil gestion des biens' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h3 class="font-weight-bolder text-uppercase text-center">Bienvenu(e)
                cher(e) {{ app.user.firstName }} {{ app.user.lastName }}</h3>
            <p class="text-center font-weight-bold text-uppercase mt-3">La page des biens de {{ app.user.structure.name }}</p>
        </div>
    </div>
{% endblock %}
