{% extends 'base_setting.html.twig' %}

{% block title %}Modifier type de bien{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header bg-dark text-white font-weight-bold text-uppercase">

            &nbsp;Modifier type de bien de koh
        </h5>

        <div class="card-body font-weight-bold text-uppercase">
            {{ include('type_bien/_form.html.twig', {'button_label': 'MODIFIER'}) }}
        </div>
        <div class="card-footer">
            <a class="btn btn-primary font-weight-bold text-uppercase" href="{{ path('type_bien_index') }}">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
