{% extends 'base_setting.html.twig' %}

{% block title %}Modifier cercle{% endblock %}

{% block stylesheets %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo18VhOGOgmI7qIKBjSB5kq9tJYp5HWEE&libraries=places"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block body %}
    <div class="card font-weight-bold text-uppercase">
        <h5 class="card-header bg-dark text-white font-weight-bold text-uppercase">
            Modifier cercle</h5>
        <div class="card-body">
            {{ include('cercle/_form.html.twig', {'button_label': 'MODIFIR'}) }}
            <a class="btn btn-primary font-weight-bold text-uppercase" href="{{ path('cercle_index') }}">Retourner à la liste</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let regionForm = $('#cercle_region');
        let regionValue = regionForm.find(":selected").text();
        $(document).ready(function () {
            loadRegionMap(regionValue);
        });

        regionForm.on('change', function () {
            regionValue = regionForm.find(":selected").text();
            loadRegionMap(regionValue);
        });

        function findLocalite() {
            let cercle = document.getElementById('cercle_name').value;
            loadCercleMap(cercle, regionValue);
        }

        function loadCercleMap(cercle, region) {
            $.ajax({
                url: 'https://maps.googleapis.com/maps/api/geocode/json?address=Mali,' + region + ',' + cercle + '&key=AIzaSyCo18VhOGOgmI7qIKBjSB5kq9tJYp5HWEE',
                datatype: 'json',
                type: 'get',
                success: function (data) {
                    let result = (data.results)[0];
                    let status = data.status;
                    if (status === 'OK') {
                        if ((result.address_components[3] !== undefined && result.address_components[3].long_name === 'Mali') || (result.address_components[4] !== undefined && result.address_components[4].long_name === 'Mali')) {
                            document.getElementById('cercle_latitude').value = '' + result.geometry.location.lat;
                            document.getElementById('cercle_longitude').value = '' + result.geometry.location.lng;
                            document.getElementById('map').style.width = '100%';
                            document.getElementById('map').style.height = '300px';
                            document.getElementById('map').classList.add('mb-5');
                            "use strict";
                            initMap(result.geometry.location.lat, result.geometry.location.lng);
                        } else {
                            alert('Impossible de trouver les coodonnées de trouver ce cercle');
                            resetMap();
                        }
                    } else {
                        alert('Impossible de trouver les coodonnées de trouver ce cercle');
                        resetMap();
                    }
                }
            });
        }

        function loadRegionMap(val) {
            alert(val)
            $.ajax({
                url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + val + ',Mali&key=AIzaSyCo18VhOGOgmI7qIKBjSB5kq9tJYp5HWEE',
                datatype: 'json',
                type: 'get',
                success: function (data) {
                    let result = (data.results)[0];
                    let status = data.status;
                    if (status === 'OK') {
                        if (result.address_components[3] !== undefined && result.address_components[3].long_name === 'Mali') {
                            document.getElementById('cercle_latitude').value = '' + result.geometry.location.lat;
                            document.getElementById('cercle_longitude').value = '' + result.geometry.location.lng;
                            document.getElementById('map').style.width = '100%';
                            document.getElementById('map').style.height = '300px';
                            document.getElementById('map').classList.add('mb-5');
                            "use strict";
                            initMap(result.geometry.location.lat, result.geometry.location.lng);
                        } else {
                            alert('Impossible de trouver les coodonnées de trouver ce cercle 1');
                            resetMap();
                        }
                    } else {
                        alert('Impossible de trouver les coodonnées de trouver ce cercle 2');
                        resetMap();
                    }
                }
            });
        }

        function initMap(lat, lng) {
            let myLatLng = {
                lat: lat,
                lng: lng
            };
            let mapOptions = {
                zoom: 14,
                center: myLatLng,
                mapTypeId: 'hybrid',
                labels: true
            };
            new google.maps.Map(document.getElementById("map"), mapOptions);
        }

        function resetMap() {
            document.getElementById('map').style.width = '0px';
            document.getElementById('map').style.height = '0px';
            document.getElementById('map').classList.remove('mb-5');
            document.getElementById("formAdd").reset();
            "use strict";
            initMap(0, 0);
        }
    </script>
{% endblock %}
